tl<% include ../views/partials/head.ejs %>
<% include ../views/partials/header.ejs %>

    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            
               <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                           <%= currentUser.name %>, deixe aqui o seu recado:
                        </div>
                        <div class="panel-body">
                       <form method="POST" action= "/recados/new">
                           <textarea class="form-control" rows="3" placeholder="Recado" name="content"></textarea>
                           <hr />
                           <button type="submit" class="btn btn-default">Postar</button>
                           <hr />
                        </form>
                        </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
     
 <!-- CONTENT-WRAPPER SECTION END-->
  

 <% include ../views/partials/footer.ejs %>
